@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
/*html {
    background-color: #fff0f0;
}*/
h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 2em;
}
p {
    font-family: 'Oswald', sans-serif;
}
header {
    position: relative; 
    background-color:antiquewhite;
}
.drag {
    background-image:url('img/bg.png');
    background-repeat:no-repeat;
    border:1px solid #ececec;
    /*border:0px solid #daeeff;
    border-radius:10px;*/
    position:absolute; 
    cursor:move;
    box-shadow: 2px 6px 5px #ececec;
    height:426px;
    width:600px;
}

.messageContainer {}

.mess {
  border-top: solid #daeeff;
  border-bottom: solid #daeeff;
  border-width: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background:#ffffff;
}
    .mess footer {
        text-align:right; 
        float:right;
    }
.textRight {
    text-align:right; 
}
.textLeft {
    text-align:left; 
    float:left; 
}
.submit {
    border:1px solid #daeeff;
}
textarea {
    resize: none;
    height: 120px;
    border: solid #daeeff;
    background:none;
}

.board {
    margin-top:26px;
    cursor:default;
    height:400px; 
    z-index:inherit;
    overflow:scroll;
    overflow-x: hidden;
}

.close {
    float:right;
    background:red;
    color:white;
}

