img {
    max-width:100%;
}

.drag {
    border:2px solid #34479b;
    position:absolute; 
    cursor:move;
    box-shadow: 2px 6px 5px #EAEBD8;
    background-color:white; 
    min-height:200px;
    min-width:200px;
    max-height:700px;
    max-width:700px;
    resize:both;
}
    .drag footer {
        clear:both;
        background-color:#34479b;
        bottom:0px;
        padding-left:20px;
        padding-top:10px;
        padding-bottom:10px;
        font-size:70%;
    }

.windowName {
    padding-left:20px;
    padding-top:4px;
    margin:0px; 
    padding-bottom:0px;
    background-color:#34479b;
}

.close {
    position:absolute; 
    float:right;
    top:0px;
    right:0px;
}
.minimize {
    position:absolute; 
    float:right;
    top:0px;
    right:25px;
}
.container {
   max-width:600px;
   max-height:600px;
   overflow:scroll;
   overflow-x: hidden;
   text-align:center;
}
.rightClickMenu {
    position:absolute;
    background-color:grey; 
    z-index:1020; 
}
.rightClickMenu ul li a{
    display:block;    
}
/*Image gallery*/
    .container img {}
    .container .galleryDiv {
        float:left;
        margin:5px;
        background-color:green;
    }
    .container .galleryDiv img{
       padding:20px;
    }
    .container .loading {
        background: url(../img/loader.gif) no-repeat;
    }
/*end Image gallery*/
/*Memory */
.memory {
    width:240px;
}
    .memory a{
        margin:5px;
    }
/*end Memory */
.navigation {
    padding:0px; 
    margin:0px; 
}

nav {
    position:absolute;
    bottom:0;
    width:100%;
    /*background-color:#00ccff;*/
    float: left;
}
    nav ul{
        max-width:1080px;
        margin:auto;
        list-style: none;
    }
    nav ul li{
        float: left;
        border:1px solid;
        margin:5px;
    }
    nav ul li a{
        display: block;
        text-align: center;
        font-size:30px;
        text-decoration: none;
        width:100px;
        height:125px;
        transition: width 0.2s, height 0.2s;
        -webkit-transition: width 0.2s, height 0.2s; /* Safari */
        /*background: #00ccff url('pics/sprite.png') no-repeat;*/ 
        bottom:0; 
    }
        nav ul li a:hover {
            width:125px;
            height:150px;
        }

.appMenu {
    margin: 0; 
    padding: 0;
    width:400px;
    border:1px solid; 
}
.hidden {
    display:none;
}

.visible {
    display:block;
}
.appMenu li{	
    margin: 0;
	padding: 0;
	list-style: none;
    float:left;
}

.appMenu li a{
    display: block;
	margin: 0;
    width:60px;
	text-align: center;
	text-decoration: none;
    background-color:white;
}

.appMenu li a:hover{ 
    background-color:black;
}
.appMenu div {
    position:absolute;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2
}
	.appMenu div a{	
        position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
	}

	.appMenu div a:hover{
        background: #49A3FF;
		color: #FFF
	}