input:not(:focus):invalid {
  outline: 2px solid red;
  background-color:red;
}
input:focus:invalid {
  outline: 2px solid blue;
}
/*input:focus:invalid {
  outline: 2px solid blue;
}*/
.err {
    color:red; 
    font-size:80%;
}